<div class="main-content">

  <h1 class="u-mask">Grille de bingo</h1>

  <div class="bingoCard card palette-1">
    <div class="bingoCard-content card-content">
      <h2 class="bingoCard-content-title">Bingo</h2>
      <div class="bingoCard-content-items">
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item active">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="bingoCard card palette-2">
    <div class="bingoCard-content card-content">
      <h2 class="bingoCard-content-title">Bingo</h2>
      <div class="bingoCard-content-items">
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item active">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="bingoCard card palette-3">
    <div class="bingoCard-content card-content">
      <h2 class="bingoCard-content-title">Bingo</h2>
      <div class="bingoCard-content-items">
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item active">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item none">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
        <div class="bingoCard-content-item">
          21
          <span class="bingoCard-content-item-check"></span>
        </div>
      </div>
    </div>
  </div>
</div>