<div class="main-content">
  <div class="bingoCard">
    <div class="bingoCard-title">Bingo</div>
    <div class="bingoCard-content">
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
      <div class="bingoCard-content-item">
        21
        <span class="bingoCard-content-item-check"></span>
      </div>
    </div>
  </div>
</div>